<!-- 
 desactivo el navegar entre posts 
 aunque, ojo, porque ahora que lo pienso: si todos los personajes tienen el mismo día, y todas builds tienen el mismo día, y todos los relatos tienen el mismo día,
 y el día es diferente, quizás el navegar entre ellos no es mala idea, eh?
 Incluso podría hacerlo por año (en plan un año para cada uno), y así, por ejemplo, tengo un mes y día para cada relato de cada issue (y uno para los genéricos que no sé 
 bien bien dónde situar. aunque en CoH siempre caen en algún sitio)
 Ojo cuidao que esto me ha gustado.
-->